Django
djangorestframework
django-cors-headers
python-decouple
Pillow
psycopg2-binary
PyJWT
djangorestframework-simplejwt
django-filter
drf-spectacular
reportlab
openpyxl
celery
redis
python-dateutil
gunicorn
django-crispy-forms
crispy-bootstrap5
