Prepa A
📌Agenda Martes 17 Feb:

-  8:00 am  *Devotional and Writing*🙂                                                                                                                                                                                         ( Zoom )
https://us04web.zoom.us/j/9212070636?pwd=Wno2MXFQdmM5U1l6bmovVithVmhUUT09

- 8:40 - 9:00 am *Recess*

- 9:00 -9:40  *Math*                                                                                                                                                                                                      ( Zoom ) https://us04web.zoom.us/j/9212070636?pwd=Wno2MXFQdmM5U1l6bmovVithVmhUUT09   

- 9:40- 10:20 am French ( ZOOM )  
                                                                                                                                                                                                                                                     
- 10:20 - 11:00 am  *Phonics*
( Zoom ) https://us04web.zoom.us/j/9212070636?pwd=Wno2MXFQdmM5U1l6bmovVithVmhUUT09  

Buen día 🙂🌻